// ==============================================
// CONTAINER ====================================
// ==============================================

.content-container {
    max-width: $container-width;
    padding: 0 $m-size;
    margin: 0 auto;
}
